// COLORS

$color-primary: #FF1C44;

$color-grey-0: #FFF;
$color-grey-10: #F8F9FF;
$color-grey-60: #5E6488;
$color-grey-100: #03050F;

$color-neutrals-0: #FFFFFF;
$color-neutrals-100: #FAFBFF;
$color-neutrals-200: #EDEFFC;
$color-neutrals-400: #D7DBF5;
$color-neutrals-500: #A9AFD9;
$color-neutrals-600: #7981B2;
$color-neutrals-700: #141938;
$color-blue-berry-600:#4F4FFF;
$color-feedback-success-300:#389E0D;
$color-rimac-500:#FF1C44;
$color-green-aqua-400:#7DF0BA;


// GRADIENTS
$gradient-1: linear-gradient(to right, #00F4E2, #00FF7F);


// SHADOWS
$shadow-primary: 0px 1px 32px 0px #AEACF359;